<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert"/>
  </configSections>
  
  <connectionStrings>
    <add name="TUBS" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!-- This connection string is used by EntityFramework for managing security.  It has no purpose in the AD version of the application -->
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Database=TUBS_SECURITY;Trusted_Connection=True;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- Replace authentication stanza -->
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />  
    </authentication>
    
    <!-- Remove entire section -->
    <authorization xdt:Transform="Remove" />
    
    <!-- Add entire section -->
    <membership xdt:Transform="Insert">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Tubs" />
      </providers>
    </membership>
    
    <!-- Add profile provider -->
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="Tubs" xdt:Transform="Insert" />
      </providers>
    </profile>
    
    <!-- A few minor changes to roleManager -->
    <roleManager enabled="true" xdt:Transform="RemoveAttributes(defaultProvider)">
      <providers>
        <clear />
        <!-- Remove the first -->
        <add xdt:Transform="Remove" />
        <!-- ...and replace with these. -->
        <add connectionStringName="ApplicationServices" applicationName="Tubs" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" xdt:Transform="Insert"/>
        <add applicationName="Tubs" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" xdt:Transform="Insert"/>
      </providers>
    </roleManager>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <entityFramework xdt:Transform="Insert">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>