@model TubsWeb.ViewModels.Gen2GearViewModel

@{
    // Set up some navigation URLs
    var nextPage = Url.RouteUrl(TubsWeb.RouteConfig.Gen2Details, new { tripId = Model.TripId, pageNumber = Model.NextPage, action = "Edit" });
    var previousPage = Url.RouteUrl(TubsWeb.RouteConfig.Gen2Details, new { tripId = Model.TripId, pageNumber = Model.PreviousPage, action = "Edit" });    
}


<p>
    @if (Model.HasPrevious)
    { 
    <a href='@previousPage' class="btn btn-info">
        <i class="icon-backward icon-white"></i>&nbsp;Previous Event
    </a>
    }
    <button id="saveButton" type="submit" class="btn btn-primary" data-bind="activity: $root.saveCommand.isExecuting, command: $root.saveCommand">
        <i class="icon-save icon-white"></i>&nbsp;Save
    </button>
    <button id="reloadButton" type="button" class="btn btn-warning" data-bind="activity: $root.reloadCommand.isExecuting, command: $root.reloadCommand, visible: !$root.isAdd()">
        <i class="icon-refresh icon-white"></i>&nbsp;Reload
    </button>
    @* Allow going to the next event regardless of dirty state, but notify that leaving a dirty form will discard changes *@
    @if (Model.HasNext)
    {
    <a href='@nextPage' id="nextEventButton" class="btn btn-info">
        Next Set&nbsp;<i class="icon-forward icon-white"></i>
    </a>
    }
    <span data-bind="visible: $root.isDirty" class="text-warning">You have unsaved changes.</span>
</p>
<hr />
<fieldset>
    <legend>Interactions With Vessel or Vessel Gear</legend>
</fieldset>
<div class="row">
    <div class="span2">
        <label>Date</label>
        <div class="input-append date datepicker" data-date-format="dd/mm/yy">
            <input type="text" 
                   data-val="true" 
                   data-val-required="Date portion of interaction date is required"
                   data-bind="value: ShipsDate.formattedDate"
                   placeholder="dd/mm/yy"
                   class="input-small required" />
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
    </div>
    <div class="span2">
        <label>Time</label>
        <div class="input-append">
            <input type="text" 
                   data-val="true" 
                   data-val-required="Time portion of interaction date is required"
                   data-bind="value: $root.ShipsTime"
                   placeholder="HHmm"
                   class="input-mini required" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <div class="span2">
        <label>Latitude</label>
        <div>
            <input data-bind="value: Latitude" class="required input-small" type="text" required placeholder="dd&deg;mm.mmm'"/>
        </div>
    </div>
    <div class="span2">
        <label>Longitude</label>
        <div>
            <input data-bind="value: Longitude" class="required input-medium" type="text" required placeholder="ddd&deg;mm.mmm'"/>
        </div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span2">
        <label>Species Code</label>
        <div>
            <input data-bind="value: SpeciesCode" class="required input-mini" type="text" required />
        </div>
    </div>
    <div class="span10">
        <label>Species Description</label>
        <div>
            <textarea data-bind="value: SpeciesDescription" 
                        class="span10" 
                        rows="4" 
                        placeholder="Use this field to describe some of the identifying features of the species.">
            </textarea>
        </div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span2">
        <label>Vessel Activity</label>
        <div>
            <select data-bind="options: $root.Activities, value: VesselActivity" class="input-small"></select>
        </div>
    </div>
    <div class="span4">
        <label>Description (if other)</label>
        <div>
            <input type="text" data-bind="value: VesselActivityDescription, enable: ('Other' == VesselActivity())" class="input-medium" />
        </div>
    </div>
</div>
<fieldset>
    <legend>Start of Interaction</legend>
</fieldset>
<div class="row-fluid">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Number</th>
                <th>Code</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.StartOfInteraction" class="landedStarts">
            <tr data-bind="css: { warning: (isDirty() || Id() == 0) }">
                <td>
                    @* Delete button is taken out of the tab order to prevent accidents *@
                    <button type="button"
                            tabindex="3000"
                            class="removeItem btn btn-mini btn-danger" 
                            rel="tooltip" 
                            title="Click to remove row"><i class="icon-remove icon-white"></i></button>
                </td>
                <td><input data-bind="hasfocus: NeedsFocus, value: Count, uniqueName: true" class="input-mini" type="number" /></td>
                <td><select data-bind="options: $root.ConditionCodes, value: ConditionCode" class="input-mini" /></td>
                <td><input data-bind="value: Description" class="input-large" /></td>
                <td>
                    <button class="addItem btn btn-mini btn-info" 
                            type="button"
                            rel="tooltip" 
                            title="Click to add row">
                        <i class="icon-plus icon-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="btnAddStartWhenEmpty" type="button" class="btn btn-info" data-bind="visible: $root.StartOfInteraction().length == 0">Add Item</button>
</div>
<hr />
<fieldset>
    <legend>End of Interaction</legend>
</fieldset>
<div class="row-fluid">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Number</th>
                <th>Code</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.EndOfInteraction" class="landedEnds">
            <tr data-bind="css: { warning: (isDirty() || Id() == 0) }">
                <td>
                    @* Delete button is taken out of the tab order to prevent accidents *@
                    <button type="button"
                            tabindex="3000"
                            class="removeItem btn btn-mini btn-danger" 
                            rel="tooltip" 
                            title="Click to remove row"><i class="icon-remove icon-white"></i></button>
                </td>
                <td><input data-bind="hasfocus: NeedsFocus, value: Count, uniqueName: true" class="input-mini" type="number" /></td>
                <td><select data-bind="options: $root.ConditionCodes, value: ConditionCode" class="input-mini" /></td>
                <td><input data-bind="value: Description" class="input-large" /></td>
                <td>
                    <button class="addItem btn btn-mini btn-info" 
                            type="button"
                            rel="tooltip" 
                            title="Click to add row">
                        <i class="icon-plus icon-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="btnAddEndWhenEmpty" type="button" class="btn btn-info" data-bind="visible: $root.EndOfInteraction().length == 0">Add Item</button>
</div>
<hr />
<div class="row-fluid">
    <div class="span12">
        <label>Describe the Interaction</label>
        <div>
            <textarea data-bind="value: InteractionDescription" 
                        class="span12"
                        placeholder="Make detailed notes on the interaction." 
                        rows="4">
            </textarea>
        </div>
    </div>
</div>
<hr />
<p>
    <button type="submit" class="btn btn-primary" data-bind="activity: $root.saveCommand.isExecuting, command: $root.saveCommand">Save</button>
    @* If the next event exists, this button will edit it.  Otherwise, go to add next event *@
    @* Allow going to the next event regardless of dirty state, but notify that leaving a dirty form will discard changes *@
    <a href='@nextPage' class="btn btn-info"  data-bind="visible: $root.showNextEventButton()">
        Next Event&nbsp;<i class="icon-forward icon-white"></i>
    </a>
</p>


@*
<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
*@

@* Instructions defined here as this is the easiest place to look at selectors *@
<ul id="tlyPageGuide" data-tourtitle="Detailed GEN-2 entry instructions">
    <li class="tlypageguide_top" data-tourtarget="#saveButton">
        <div>
            The save button will only be active if there are unsaved changes.
        </div>
    </li>
</ul>