@model Spc.Ofp.Tubs.DAL.Entities.Trip
@using Spc.Ofp.Tubs.DAL.Entities
@using Spc.Ofp.Tubs.DAL.Common

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.SpcTripNumber ?? "This Trip"),
        Tuple.Create("#", "GEN-2 Events")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

<fieldset>
    <legend>Interactions with Species of Special Interest</legend>
    @{ Html.RenderPartial("_Interactions", Model.Interactions); }
</fieldset>

@{
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "gen2Interactions",
        OnSuccess = String.Format("clearForm('#{0}')", "addInteractionForm")
    };
}

@if (!Model.IsReadOnly)
{
    using (Ajax.BeginForm("AddInteraction", null, options, new { id = "addInteractionForm", @class = "form well" }))
    {
        @Html.ValidationSummary(false)
        <fieldset>
            <legend>Add Interaction</legend>
            @{ var interaction = new SpecialSpeciesInteraction(); }
            @Html.EditorFor(i => interaction)
            <div class="btn-group">
                <input type="submit" name="Save" value="Save" class="btn-primary" />
                <input type="reset" name="Cancel" />
            </div>
        </fieldset>
    }
}

<p>
<a href='@Url.RouteUrl("TripDetails", new { tripId = ViewBag.TripId })'>Back to Trip</a>
</p>


@section AdditionalScripts {
    @{ Html.RenderPartial("_DateTimePickerInit"); }

    <script type="text/javascript">
        $('.interactionType').change(function () {
            //alert("Got: " + $(this).val()); // Debug code
            switch ($(this).val()) {
                case 'S':
                    $('#subsectionSighted').show();
                    $('#subsectionGear').hide();
                    $('#subsectionLanded').hide();
                    break;
                case 'I':
                    $('#subsectionSighted').hide();
                    $('#subsectionGear').show();
                    $('#subsectionLanded').hide();
                    break;
                case 'L':
                    $('#subsectionSighted').hide();
                    $('#subsectionGear').hide();
                    $('#subsectionLanded').show();
                    break;
                default:
                    // Dunno -- hide 'em all?
                    $('#subsectionSighted').hide();
                    $('#subsectionGear').hide();
                    $('#subsectionLanded').hide();
                    break;
            }

        });
    </script>
}
