@model Spc.Ofp.Tubs.DAL.Entities.PurseSeineVesselAttributes

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.Trip.SpcTripNumber),
        Tuple.Create(Url.Action("Index", "Auxiliaries", new { tripId = ViewBag.TripId }), "Auxiliaries"),
        Tuple.Create("#", "Add Auxiliaries")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@using (Html.BeginForm("Create", "Auxiliaries", FormMethod.Post, new { id = "editAuxiliariesForm", @class = "well", autocomplete = "off" }))
{
    @Html.ValidationSummary(true)
    @Html.EditorFor(m => Model)
    <div class="btn-group">
            <input type="submit" name="Save" value="Save" class="btn-primary" />
            <input type="reset" name="Cancel" />
    </div> 
}
