@model Spc.Ofp.Tubs.DAL.Entities.PurseSeineTrip
@using Spc.Ofp.Tubs.DAL.Entities

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.SpcTripNumber ?? "This Trip"),
        Tuple.Create("#", "Well Content")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@{ Html.RenderPartial("_WellContent", Model.WellContent); }

<div class="row">
    <div class="span4"><strong>Total Well Capacity</strong></div>
    <div class="span2">@Html.DisplayFor(m => Model.WellCapacity) mT</div>
</div>

@if (!ViewBag.IsReadOnly)
{
    @Html.ActionLink("Edit Well Content", "Edit")
}

