@model TubsWeb.ViewModels.PurseSeineSetViewModel

<div class="row">
    <div class="span3">
        <label><strong>Recovered Tag Count</strong></label>
        @Html.DisplayFor(m => m.RecoveredTagCount)
    </div>
</div>
<hr />
<div class="row">
    <div class="span12">
        <label><strong>Comments</strong></label>
        <p>@Model.Comments</p>
    </div>
</div>