<div class="row">
    <div class="span2">
        <label>Recovered Tag Count</label>
        <input type="number" min="0" class="input-mini" data-bind="value: RecoveredTagCount" />
    </div>
</div>

<div class="row">
    <div class="span12">
        <label>Comments</label>
        <textarea class="span12" rows="4" data-bind="value: Comments"></textarea>
    </div>
</div>

@*
 * TODO: Maybe add Save button here?
 *@