@model TubsWeb.ViewModels.PurseSeineSetViewModel

@{
    // Set up some navigation URLs
    var nextPage = Url.RouteUrl(TubsWeb.RouteConfig.Sets, new { tripId = Model.TripId, setNumber = Model.NextSet, action = "Edit" });
    var previousPage = Url.RouteUrl(TubsWeb.RouteConfig.Sets, new { tripId = Model.TripId, setNumber = Model.PreviousSet, action = "Edit" });    
}

<form id="fishingSetForm">
    <p>
        @if (Model.HasPrevious)
        {
        <a href='@previousPage' class="btn btn-info">
            <i class="icon-backward icon-white"></i>&nbsp;Previous Set
        </a>
        }
        <button id="saveButton" type="submit" class="btn btn-primary" data-bind="activity: $root.saveCommand.isExecuting, command: $root.saveCommand">Save</button>
        <button id="reloadButton" type="button" class="btn btn-warning" data-bind="activity: $root.reloadCommand.isExecuting, command: $root.reloadCommand">
            <i class="icon-refresh icon-white"></i>&nbsp;Reload
        </button>
        <span data-bind="visible: $root.isDirty" class="text-warning">You have unsaved changes.</span>

        @* Allow going to the next set regardless of dirty state, but notify that leaving a dirty form will discard changes *@
        @if (Model.HasNext)
        {
        <a href='@nextPage' id="nextSetButton" class="btn btn-info">
            Next Set&nbsp;<i class="icon-forward icon-white"></i>
        </a>
        }
    </p>
    <hr />
    <fieldset>
        <legend>Vessel Log Start of Set</legend>
    </fieldset>
    <div class="row-fluid">
        <div class="span2">
            <label>Date</label>
            <div class="input-append">
                @Html.TextBoxFor(
                    m => Model.LogbookDate,
                    new
                    {
                        data_val = "true",
                        data_val_required = "Date portion of start date is required",
                        data_bind = "value: LogbookDate.formattedDate",
                        @class = "input-mini"
                    })
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>
        <div class="span2">
            <label>Time</label>
            <div class="input-append">
                @Html.TextBoxFor(m => Model.LogbookTime, new { data_bind = "value: $root.LogbookTime", @class = "input-mini" })
                <span class="add-on"><i class="icon-time"></i></span>
            </div>
        </div>
    </div>

    @{ Html.RenderPartial("_SetSequenceTimes", Model); }

    <hr />

    @* false is being used to turn off _CumulativeCatch partial *@
    @if (false && 2009 != Model.VersionNumber)
    {
        Html.RenderPartial("_CumulativeCatch", Model);
        @: <hr />
    }

    @{ Html.RenderPartial("_SetCatchDetails", Model); }

    <hr />

    @{ Html.RenderPartial("_CatchBreakdown", Model); }

    <hr />

    @{ Html.RenderPartial("_TargetCatch", Model); }

    <hr />

    @{ Html.RenderPartial("_ByCatch", Model); }

    <hr />

    <fieldset>
        <legend>Tags</legend>   
        <div class="row">
            <div class="span2">
                <label>Recovered Tag Count</label>
                @Html.TextBoxFor(
                    m => Model.RecoveredTagCount,
                    new
                    {
                        @class = "input-mini",
                        type = "number",
                        data_bind = "value: RecoveredTagCount"
                    })
            </div>
        </div>
    </fieldset>

    <hr />

    <fieldset>
        <legend>Comments</legend>
        @Html.TextAreaFor(
            m => Model.Comments,
            new {
                @class = "span12",
                rows = 4,
                data_bind = "value: Comments"
            }
        )
    </fieldset>
</form>

@*
<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
*@

<ul id="tlyPageGuide" data-tourtitle="Detailed PS-3 entry instructions">
    <li class="tlypageguide_top" data-tourtarget="#saveButton">
        <div>
            The save button will only be active if there are unsaved changes.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget="#reloadButton">
        <div>
            Use the reload button to discard any unsaved changes.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget="#nextSetButton">
        <div>
            Use this button to move to the next set.  If the PS-3 for
            the next set has not yet been entered, this will start a new entry form.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget="#LogbookDate">
        <div>
            Enter the date portion of the start of set recorded in the vessel's logbook.  
            Entry must be of the form dd/mm/yy.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget="#LogbookTime">
        <div>
            Enter the time portion of the start of set recorded in the vessel's logbook.  
            Entry must be of the form HHmm.
        </div>
    </li>
    <!-- // TODO Ensure that the pageguide tour is appropriate for the workbook version
    SkiffOffTimeOnly
    WinchOnTimeOnly
    RingsUpTimeOnly
    BeginBrailingTimeOnly
    EndBrailingTimeOnly
    EndOfSetTimeOnly
    SumOfBrail1
    SumOfBrail2
    TotalCatch
    ContainsSkipjack
    SkipjackPercentage
    TonsOfSkipjackObserved
    ContainsYellowfin
    YellowfinPercentage
    TonsOfYellowfinObserved
    ContainsLargeYellowfin
    LargeYellowfinPercentage
    LargeYellowfinCount
    ContainsBigeye
    BigeyePercentage
    TonsOfBigeyeObserved
    ContainsLargeBigeye
    LargeBigeyePercentage
    LargeBigeyeCount

    RecoveredTagCount
    Comments
        -->
</ul>
