@model TubsWeb.ViewModels.PurseSeineSetViewModel

<fieldset>
    <legend>Set Catch Details</legend>
    <div class="row">
        <div class="span2">
            <label>Brail 1</label>
            <span data-bind="text: SizeOfBrail1">N/A</span>mT &times;
            @Html.TextBoxFor(
                m => Model.SumOfBrail1,
                new {
                    @class="input-mini",
                    data_bind = "value: SumOfBrail1",
                    type = "number"
                })
        </div>
        <div class="span2">
            <label>Brail 2</label>
            + <span data-bind="text: SizeOfBrail2">N/A</span>mT &times;
            @Html.TextBoxFor(
                m => Model.SumOfBrail2,
                new {
                    @class="input-mini",
                    data_bind = "value: SumOfBrail2",
                    type = "number"
                })
        </div>
        <div class="span2">
            <label>Total Catch Weight</label>
            =&nbsp;
            @Html.TextBoxFor(
                m => Model.TotalCatch,
                new {
                    @class="input-mini",
                    data_bind = "value: TotalCatch",
                    type = "number"
                })
        </div>
        <div class="span3">
            <label>Total Catch (expected)</label>
            <span data-bind="text: computedCatch">N/A</span>
            <span data-bind="visible: showCatchTotalNote" class="text-warning">Total catch mismatch</span>
        </div>
    </div>
</fieldset>