@model TubsWeb.Models.PurseSeineSetViewModel

<fieldset>
    <legend>Target Tuna</legend>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Species<br />Code</th>
                <th>Fate<br />Code</th>
                <th>Observer<br />Weight</th>
                <th>Observer<br />Count</th>
                <th>Vessel<br />Weight</th>
                <th>Vessel<br />Count</th>
                <th>Comments</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: TargetCatch" class="targetCatch">
            @* TODO: Add warning for isDirty() *@
            <tr data-bind="css: { warning: (isDirty() || Id() == 0) }">
                <td>
                    <button  
                            type="button"
                            tabindex="3000"
                            class="removeItem btn btn-mini btn-danger" 
                            rel="tooltip" 
                            title="Click to remove row">
                        <i class="icon-remove icon-white"></i>
                    </button>
                </td>
                <td>
                    <input type="text" class="required input-mini" data-bind="hasfocus: NeedsFocus, value: SpeciesCode, uniqueName: true" />
                </td>
                <td>
                    <input type="text" class="required input-mini" data-bind="value: FateCode, uniqueName: true" />
                </td>
                <td>
                    <input type="number" class="input-mini" data-bind="value: ObservedWeight, uniqueName: true" />
                </td>
                <td>
                    <input type="number" class="input-mini" data-bind="value: ObservedCount, uniqueName: true" />
                </td>
                <td>
                    <input type="number" class="input-mini" data-bind="value: LogbookWeight, uniqueName: true" />
                </td>
                <td>
                    <input type="number" class="input-mini" data-bind="value: LogbookCount, uniqueName: true" />
                </td>
                <td>
                    <input type="text" data-bind="value: Comments, uniqueName: true" />
                </td>
                <td>
                    <button class="addItem btn btn-mini btn-info" 
                            rel="tooltip" 
                            title="Click to add row">
                        <i class="icon-plus icon-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="btnAddTargetCatchWhenEmpty" type="button" class="btn btn-info" data-bind="visible: $root.TargetCatch().length == 0">Add Record</button>
</fieldset>