@model TubsWeb.ViewModels.PurseSeineSetViewModel

@{
    string titleSuffix = String.Format("Set {0} of {1}", Model.SetNumber, Model.MaxSets);
    ViewBag.Title = String.Format("{0}: {1}", Model.TripNumber, titleSuffix);
}
@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create(Url.Action("List", "FishingSet", new { tripId = Model.TripId }), "Sets"),
        Tuple.Create("#", titleSuffix)
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

<ul class="pager">
@if (Model.HasPrevious)
{
    <li>
        <a href='@Url.RouteUrl(TubsWeb.RouteConfig.Sets, new { tripId = Model.TripId, setNumber = Model.PreviousSet, action = "Index" })'>Previous Set</a>
    </li>
}
    
@if (Model.HasNext)
{
    <li>
        <a href='@Url.RouteUrl(TubsWeb.RouteConfig.Sets, new { tripId = Model.TripId, setNumber = Model.NextSet, action = "Index" })'>Next Set</a>
    </li>
}
</ul>   

@* TODO:  Add catch LF graphs in another tab *@
<div class="tabbable tabs-top">
    <ul id="formSections" class="nav nav-tabs">
        <li class="active"><a href="#times" data-toggle="tab">Set Times</a></li>
        <li><a href="#totalCatch" data-toggle="tab">Total Catch</a></li>
        <li><a href="#breakdown" data-toggle="tab">Catch Breakdown</a></li>
        <li><a href="#allCatch" data-toggle="tab">Catch</a></li>
        <li><a href="#comments" data-toggle="tab">Comments / Tags</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="times">
            @{ Html.RenderPartial("_SetSequenceTimes", Model); }
        </div>
        <div class="tab-pane" id="totalCatch">
            @{ Html.RenderPartial("_SetCatchDetails", Model); }
        </div>
        <div class="tab-pane" id="breakdown">
            @{ Html.RenderPartial("_CatchBreakdown", Model); }
        </div>
        <div class="tab-pane" id="allCatch">
            @{ Html.RenderPartial("_AllCatch", Model); }
        </div>
        <div class="tab-pane" id="comments">
            @{ Html.RenderPartial("_Comments", Model); }
        </div>
    </div>
</div>
