@model TubsWeb.ViewModels.Ps1ViewModel

@{
    ViewBag.Title = "PS-1 for " + Model.TripNumber;
}

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create("#", "PS-1")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (!ViewBag.IsReadOnly)
{
<p>
    @{ var editLink = Url.Action("Edit"); }
    <a href="@editLink" class="btn btn-primary"><i class="icon-edit icon-white"></i>&nbsp;Edit PS-1</a>
</p>
}

@* 
 * Vessel Characteristics
 * Fishing Gear
 * Comments
 * Waste Disposal
 * Safety Equipment
 * Additional Notes
 *@
<div class="accordion" id="ps1-accordion">
  @{ 
    Html.RenderPartial("_VesselCharacteristics", Model.Characteristics);
    Html.RenderPartial("_FishingGear", Model.Gear);
  }
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#ps1-accordion" href="#comments">
        <i class="icon-chevron-right"></i> Observations / Comments / Other Gear / Unusual Use of Gear
      </a>
    </div>
    <div id="comments" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>@Model.Page1Comments</p>
      </div>
    </div>
  </div><!-- accordion-group -->
  @* Waste Disposal (no separate class) *@
  @if (Model.VersionNumber == 2009)
  {
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#ps1-accordion" href="#wasteDisposal">
        <i class="icon-chevron-right"></i> Waste Disposal
      </a>
    </div>
    <div id="wasteDisposal" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="row-fluid">
            <div class="span3">
                <label><strong>Has Waste Disposal?</strong></label>
                <p>@Model.HasWasteDisposal</p>
            </div>
            <div class="span9">
                <label><strong>Description</strong></label>
                <p>@Model.WasteDisposalDescription</p>
            </div>
        </div>
      </div>
    </div>
  </div><!-- accordion-group -->
  }
  @{ Html.RenderPartial("_SafetyInspection", Model.Inspection); }
  @* TODO Additional Notes (find where this is stored!) *@
</div>

@section AdditionalScripts {
    <script>
        /*
         * Implementation based on this coffeescript/haml note:
         * http://coderwall.com/p/j4wxbg
         * and this JSFiddle:
         * http://jsfiddle.net/D2RLR/251/
         * The former provided most of the information, while the latter helped to translate it
         * into JavaScript.
         * It depends on a specific structure and that the icon is correct for the first item in
         * the accordion.
         */
        $(function () {
            $('.accordion').on('show', function (e) {
                $(e.target).prev('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-chevron-down icon-chevron-right');
            });
            $('.accordion').on('hide', function (e) {
                $(e.target).prev('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-chevron-down icon-chevron-right');
            });
        });
    </script>
}