<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>a)</td>
            <td>Record inaccurate positions on the vessel logsheet</td>
            <td>
                <select id="answer[a]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[0].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>b)</td>
            <td>Fish in areas that were not covered by any license or access agreement</td>
            <td>
                <select id="answer[b]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[1].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>c)</td>
            <td>Mis-report catch in the vessel logs or weekly reports</td>
            <td>
                <select id="answer[c]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[2].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>d)</td>
            <td>Not report catch of commercial species (including discards)</td>
            <td>
                <select id="answer[d]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[3].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>e)</td>
            <td>Not record bycatch and discards</td>
            <td>
                <select id="answer[e]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[4].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>f)</td>
            <td>Record bycatch and discards inaccurately</td>
            <td>
                <select id="answer[f]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[5].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>g)</td>
            <td>Target species other than those they are licensed to target</td>
            <td>
                <select id="answer[g]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[6].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>h)</td>
            <td>Use a fishing method other than the method they are licensed to use</td>
            <td>
                <select id="answer[h]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[7].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>i)</td>
            <td>Record one species as a different species</td>
            <td>
                <select id="answer[i]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[8].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>j)</td>
            <td>Catch species of special interest</td>
            <td>
                <select id="answer[j]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[9].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>k)</td>
            <td>Breach MARPOL regulations</td>
            <td>
                <select id="answer[k]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[10].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>l)</td>
            <td>Bunker or not report bunkering to national authorities</td>
            <td>
                <select id="answer[l]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[11].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>m)</td>
            <td>Transfer fish from or to another vessel at sea</td>
            <td>
                <select id="answer[m]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[12].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>n)</td>
            <td>Request that an event not be reported</td>
            <td>
                <select id="answer[n]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[13].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>o)</td>
            <td>Mistreat other crew</td>
            <td>
                <select id="answer[o]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[14].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>p)</td>
            <td>Hinder the observer in the carrying out of their duties</td>
            <td>
                <select id="answer[p]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[15].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>q)</td>
            <td>Not supply reasonable accomodation, food and facilities to the observer onboard the vessel</td>
            <td>
                <select id="answer[q]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[16].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>r)</td>
            <td>High grade or cull the catch</td>
            <td>
                <select id="answer[r]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[17].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>s)</td>
            <td>Not report position to countries when crossing from one zone to another</td>
            <td>
                <select id="answer[s]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[18].Answer"></select>
            </td>
        </tr>
        <tr>
            <td>t)</td>
            <td>Not display or present a valid (and current) licence document onboard</td>
            <td>
                <select id="answer[t]" class="input-small" data-bind="options: BooleanValues,value: $root.Incidents()[19].Answer"></select>
            </td>
        </tr>
    </tbody>
</table>