@model TubsWeb.ViewModels.Gen3ViewModel

@{
    ViewBag.Title = "GEN-3 for " + Model.TripNumber;
}

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create("#", "GEN-3")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (!ViewBag.IsReadOnly)
{
<p>
    @{ var editLink = Url.Action("Edit"); }
    <a href="@editLink" class="btn btn-primary"><i class="icon-edit icon-white"></i>&nbsp;Edit GEN-3</a>
</p>
}

@if (2007 == Model.VersionNumber)
{
    Html.RenderPartial("_Questions_v07", Model);
}
else if (2009 == Model.VersionNumber)
{
    Html.RenderPartial("_Questions_v09", Model);
}
else
{
    @: GEN-3 questions not available for this trip
}


<hr />
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>
        <th>Date</th>
        <th>Details</th>
    </tr>
</thead>
<tbody>
@foreach (var detail in @Model.Notes)
{
<tr>
    <td>
        @Html.DisplayFor(m => detail.Date, new { format = "d" })
    </td>
    <td><div class="large-text">@detail.Comments</div></td>
</tr>                      
}
</tbody>
</table>

@section AdditionalScripts {
    @* jQuery function to highlight GEN-3 answers of interest *@
    <script type="text/javascript">
        $(function () {
            $("td.yesno").filter(function () {
                var contents = $(this).text();
                contents = $.trim(contents);
                return contents == "YES";
            }).parent().addClass("lookatme");
        });
    </script>
}
