/*
 * This file is part of TUBS.
 *
 * TUBS is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *  
 * TUBS is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *  
 * You should have received a copy of the GNU Affero General Public License
 * along with TUBS.  If not, see <http://www.gnu.org/licenses/>.
 */

/* NOTE:  It would probably be useful to migrate from straight-out-of-the-box Bootstrap to
 * one of the Less/Sass versions and then muck with font sizes and control heights to jam
 * more stuff onto the page.
 * Default Bootstrap is good for low-volume forms, but there's a lot of white space
 * inside the controls.
 */    

/*
 * Sticky footer implementation.
 * Okay as far as it goes, but could use some work.   
 */
html, body {
    height: 100%;
}

footer 
{
    padding: 20px 0 20px 0;
    border-top: 1px solid #000;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

.push {
    height: 63px;
}
        
.wrapper > .container,
.wrapper > .container-fluid {
    padding-top: 60px;
}

/* div.compact-header, div.compact-row, editor-row, and span1q are all part of using divs to contain multi-row inputs instead of a table */
.editor-row
{
    margin-left: 10px;
}

/* Bigger than span1 (60px), but smaller than span2 (140px) */
.span1q
{
    width: 80px;
}

/*
 * compact-header resets the margin on
 * a div inside a row-fluid.
 * Use this for the header labels
 * This is part of rebuilding multiple row forms
 * using multiple divs instead of a table
 */
.row-fluid div.compact-header {
    margin-left: 5px;
}

.row div.compact-header
{
    margin-left: 10px;
}

/*
 * compact-row adds some padding to the
 * row containing the form.  Without this, the
 * HTML inputs would sit on top of one another.
 */
div.compact-row {
    padding-bottom: 5px;
}

/* We can no longer depend on top padding body to ensure that all content falls below the toolbar */
.padded {
    padding-top: 60px;
}

/*
 * snap-content is transparent without an explicit background color
 * http://stackoverflow.com/questions/16726270/twitter-bootstrap-and-snap-js
 */
.snap-content {
    background: white;
}

/* Bootstrap adds a 10 pixel bottom margin to all inputs.  This is undesirable in a table, so turn it off*/
.table td input[type="text"],
.table td input[type="number"]
{
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    
}

.table td .control-group,
.table td select
{
    margin-bottom: 0px;
}

.nobr
{ 
    white-space: nowrap;
}

.lookatme {
color: Red;
font-weight: bold;
}

.input-validation-error 
{
    /* Bootstrap is overriding the color:  In MVC3, this was handled by hooking the validator...*/
    color: #b94a48;
    font-weight: bold;
}


/* Try this: http://html.cita.illinois.edu/nav/form/checkbox/index.php?example=4 */

/* Works but ugly*/
input[type=checkbox]:focus {
    outline: 3px solid blue;
}

/* http://css-tricks.com/the-checkbox-hack/
input[type=checkbox]:focus ~ label {
    background: red;
}
*/

/*
* This isn't working either:
* http://codepen.io/joshnh/pen/eIksb

label:focus,
label + input:focus {
    background-color: #fa3;
}
*/
      

