<?xml version="1.0"?>
<!--
  This web.config file is here to enable client caching for static resources
-->
<configuration>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      </staticContent>
    </system.webServer>
</configuration>
