@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.SeaDay>
@using Spc.Ofp.Tubs.DAL.Entities

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), ViewBag.TripNumber as string),
        Tuple.Create("#", "Sea Days")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@{ Html.RenderPartial("_SeaDays", Model); }

@* *@
@if (!ViewBag.IsReadOnly)
{
    <p>
    @{ var editLink = Url.Action("Add", new { tripId = ViewBag.TripId, dayNumber = (1 + Model.Count()) }); }
    <a href="@editLink" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;Add New Day</a>
    </p>
}
