@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.SeaDay>

<h2>@ViewBag.Title</h2>

<script type="text/javascript">
//<!CDATA[
    function onAutoFail(xhr, status, error) {
        alert("Epic fail");
    }

    function onAutoSuccess(data, status, xhr) {
        alert("It worked?");
    }
//]]>
</script>

@* TODO Add vertical lines to header *@
<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th colspan="2">Free floating objects</th>
            <th colspan="2">Anchored floating objects</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Start of Day</th>
            <th>Start of Day (UTC)</th>
            <th>No school</th>
            <th>With school</th>
            <th>No school</th>
            <th>With school</th>
            <th>Free schools</th>
            <th>GEN-3 Event?</th>
        </tr>
    </thead>
<tbody>

@foreach (var item in Model.Select((x, i) => new { Data = x, Index = i})) {
    @Html.DisplayFor(m => item.Data, new { counter = item.Index + 1 })
}
</tbody>
</table>

@if (0 == Model.Count())
{
    var options = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "autoFillResults", OnFailure = "onAutoFail", OnSuccess = "onAutoSuccess" };
    <div id="noDaysDiv">
        <p>
            No days recorded. @Html.ActionLink("Auto fill days?", "AutoFill", new { tripId = ViewBag.TripId }, new { id = "autoFill" })
        </p>
    </div>
    <div id="autoFillResults"></div>
    <script type="text/javascript">
        $(function () {
            $('#autoFill').click(function () {
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    success: onAutoSuccess
                });
                return false;
            });
        });
    </script>
}

<p>
<a href='@Url.RouteUrl("TripDetails", new { tripId = ViewBag.TripId })'>Back to Trip</a>
</p>
