@{
    ViewBag.Title = "Data Confidentiality Notice";
}

<h2>@ViewBag.Title</h2>

<p>
    The data contained in this application is the property of the national program that provided it.
    Permission to use this data for scientific purposes has been granted to SPC via the WCPFC.
    Data cannot be disclosed to other entities without the written permission of the data's owner.
</p>
