@{
    ViewBag.Title = "Data Confidentiality Notice";
}

<h2>@ViewBag.Title</h2>

<p>
    The data contained in this application is the property of the national program that provided it.
    Permission to use this data for scientific purposes has been granted to SPC via the WCPFC.
    Data cannot be disclosed to other entities without the written permission of the data's owner.
</p>

<p>
    For more information, see the following documents:
</p>
<ul>
    <li>
    Rules of Procedure for the protection, Access to, and Dissemination of Data Compiled by the Commission (Dec 2007)
    </li>
    <li>
    Rules and Procedures for the Protection, Access to, and Dissemination of High Seas Non‐
Public Domain Data and Information Compiled by the Commission for the Purpose of
Monitoring, Control and Surveillance (MCS) Activities and the Access to and Dissemination
of High Seas VMS Data for Scientific Purposes. (Dec 2009)
    </li>
</ul>
@* TODO Add links and/or text of said documents *@

