@{
    ViewBag.Title = "Reports";
}

@* TODO: Integrate with SSRS.  Call SSRS web service to see what reports exist?  Or just keep a list of reports in a database table? *@
<a href='@ViewBag.ReportingUrl' target="_blank">List of reports</a>
