@model TubsWeb.ViewModels.CrewViewModel

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.TripNumber),
        Tuple.Create("#", "Crew")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (!ViewBag.IsReadOnly)
{
<p>
    @Html.ActionLink("Edit Crew", "Edit", null, new { @class = "btn btn-primary" })
</p>
}

@{ Html.RenderPartial("_Crew"); }