@model TubsWeb.Models.CrewViewModel

<h2>@ViewBag.Title</h2>

@{ Html.RenderPartial("_Crew"); }

<p>
    @Html.ActionLink("Edit Crew", "Edit") |
    <a href='@Url.RouteUrl("TripDetails", new { tripId = Model.TripId })'>Back to Trip</a>
</p>
