@model IEnumerable<TubsWeb.Models.CrewViewModel.CrewMemberModel>

<table class="table table-striped table-bordered table-condensed" id="deckHands">
    <thead>
        <tr>
            <th>Name</th>
            <th>Experience</th>
            <th>Nationality</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var hand in Model)
    {
        var updateTarget = System.Guid.NewGuid().ToString();
        var options = new AjaxOptions { HttpMethod = "Post", UpdateTargetId = updateTarget, OnSuccess = "onSaveSuccess", OnFailure = "onSaveFail" };
        using (Ajax.BeginForm("EditSingleDeckhand", options))
        {
        <tr id='@updateTarget'>
            @{ Html.RenderPartial("~/Views/Crew/DeckHand.cshtml", hand); }
        </tr>
        }  
    }
    </tbody>
</table>