@model Spc.Ofp.Tubs.DAL.Entities.Trip
@using Spc.Ofp.Tubs.DAL.Entities

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = ViewBag.TripId }), Model.SpcTripNumber ?? "This Trip"),
        Tuple.Create(Url.Action("Index", "Gen1", new { tripId = ViewBag.TripId }), "GEN-1"),
        Tuple.Create("#", "Edit GEN-1 Transfers")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

<fieldset>
    <legend>Fish Transferring, Fish Dumping, Bunkering by Observer's Vessel</legend>
    @{ Html.RenderPartial("_EditTransfers", Model.Transfers); }
</fieldset>

@{
    // Passing the argument to 'done' requires the String.Format call
    // http://stackoverflow.com/questions/6550290/ajaxoptions-onsuccess-callback-with-parameter-not-working
    AjaxOptions options = new AjaxOptions { 
        HttpMethod = "Post", 
        UpdateTargetId = "gen1Transfers", 
        OnSuccess = String.Format("clearForm('{0}')", "#addTransferForm") 
    };
}

@using (Ajax.BeginForm("AddTransfer", "Gen1", null, options, new { id = "addTransferForm", @class = "form well" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Transfer</legend>
        @{ var transfer = new Transfer(); }
        @Html.EditorFor(t => transfer)
        <div class="btn-group">
            <input type="submit" name="Save" value="Save" class="btn-primary" />
            <input type="reset" name="Cancel" />
        </div>
    </fieldset>
}



@section AdditionalScripts {
    @{ Html.RenderPartial("_DateTimePickerInit"); }
}

@* TODO Wire up Ajax on vessel name field *@