<fieldset>
    <legend>Target Species</legend>
    <div class="row">
        <div class="span4">
            <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" id="IsTargetingTuna" name="IsTargetingTuna" data-bind="checked: IsTargetingTuna" /> Tuna
            </label>
            <label class="checkbox">
                <input type="checkbox" id="IsTargetingSwordfish" name="IsTargetingSwordfish" data-bind="checked: IsTargetingSwordfish" /> Swordfish
            </label>
            <label class="checkbox">
                <input type="checkbox" id="IsTargetingShark" name="IsTargetingShark" data-bind="checked: IsTargetingShark" /> Shark
            </label>
        </div>   
        </div>
    </div>
</fieldset>
<hr />
<fieldset>
    <legend>Bait Used</legend>
    <div class="row editor-row">
        <div class="span1 compact-header">&nbsp;</div>
        <div class="span2 compact-header"><strong>Species</strong></div>
        <div class="span2 compact-header"><strong>Weight (kg)</strong></div>
        <div class="span2 compact-header"><strong>Hook Numbers</strong></div>
    </div>
    <div class="row editor-row">
        <div class="form-horizontal compact-row" data-bind="with: $root.Baits()[0]">
            <div class="span1 compact-header"><strong>Bait 1</strong></div>
            <input type="text" class="span2" data-bind="value: Species"/>
            <input type="number" class="span2" data-bind="value: Weight"/>
            <input type="text" class="span2" data-bind="value: Hooks"/>
        </div>
    </div>
    <div class="row editor-row">
        <div class="form-horizontal compact-row" data-bind="with: $root.Baits()[1]">
            <div class="span1 compact-header"><strong>Bait 2</strong></div>
            <input type="text" class="span2" data-bind="value: Species"/>
            <input type="number" class="span2" data-bind="value: Weight"/>
            <input type="text" class="span2" data-bind="value: Hooks"/>
        </div>
    </div>
    <div class="row editor-row">
        <div class="form-horizontal compact-row" data-bind="with: $root.Baits()[2]">
            <div class="span1 compact-header"><strong>Bait 3</strong></div>
            <input type="text" class="span2" data-bind="value: Species"/>
            <input type="number" class="span2" data-bind="value: Weight"/>
            <input type="text" class="span2" data-bind="value: Hooks"/>
        </div>
    </div>
    <div class="row editor-row">
        <div class="form-horizontal compact-row" data-bind="with: $root.Baits()[3]">
            <div class="span1 compact-header"><strong>Bait 4</strong></div>
            <input type="text" class="span2" data-bind="value: Species"/>
            <input type="number" class="span2" data-bind="value: Weight"/>
            <input type="text" class="span2" data-bind="value: Hooks"/>
        </div>
    </div>
    <div class="row editor-row">
        <div class="form-horizontal compact-row" data-bind="with: $root.Baits()[4]">
            <div class="span1 compact-header"><strong>Bait 5</strong></div>
            <input type="text" class="span2" data-bind="value: Species"/>
            <input type="number" class="span2" data-bind="value: Weight"/>
            <input type="text" class="span2" data-bind="value: Hooks"/>
        </div>
    </div>
    
</fieldset>
<hr />
<div class="row editor-row">
    <div class="span4">
        <label>Number of Light Sticks</label>
        <input type="number" class="span1" data-bind="value: LightStickCount"/>
    </div> 
    <div class="span3">
        <label>&nbsp;</label>
        <a href="#" class="btn btn-info nextTabButton">Next Section <i class="icon-forward"></i></a>
    </div>      
</div>
