<div class="row editor-row">
    <div class="span1q compact-header"><strong>Date</strong></div>
    <div class="span1 compact-header"><strong>Time</strong></div>
    <div class="span6 compact-header"><strong>Comments</strong></div>
</div>
@*
 * Knockout allows containerless binding.  That's why there's a knockout call inside HTML comments
 * http://knockoutjs.com/documentation/foreach-binding.html
 *@
<!-- ko foreach: Comments -->
<div class="row editor-row">
    <div class="form-horizontal compact-row comment-row">
        <input type="text" class="span1q" placeholder="DD/MM/YY" data-bind="value: DateOnly.formattedDate, uniqueName: true"/>
        <input type="text" class="span1" placeholder="HHmm" data-bind="hasfocus: NeedsFocus, value: LocalTime, uniqueName: true"/>
        <input type="text" class="span6" data-bind="value: Details, uniqueName: true" title="Comments"/>
        <button type="button" class="btn btn-danger removeItem" tabindex="5000"><i class="icon-trash icon-white"></i></button>
    </div>
</div>
<!-- /ko -->
<div class="row">
    <div class="span2" style="margin-left: 30px;">
        <button id="addCommentButton" type="button" class="btn btn-info addItem"><i class="icon-plus-sign icon-white"></i> Add Comment</button>
    </div>
</div>
<hr />
@* For flow reasons, this belongs in the 'Comments' section rather than here *@
<div class="row">
    <div class="span2">
        <label>Total Baskets Observed</label>
        <input type="number" class="input-mini" data-bind="value: TotalObservedBaskets"/>
    </div>
    <div class="span2">
        <label>GEN-3<br />Events?</label>
        <select class="input-small" data-bind="options: $root.BooleanValues, value: HasGen3Event"></select>
    </div>
    <div class="span2">
        <label>Journal<br />Page</label>
        <input type="number" class="input-mini" data-bind="value: DiaryPage"/>
    </div>
</div>     