<div class="row">
    <div class="span12">
        <span><strong>Unusual Set Details</strong></span>
    <br />
    <textarea rows="8" class="span10"></textarea>
    </div>
</div>
<div class="row">
    <div class="span2">
        <a href="#" class="btn btn-info nextTabButton">Next Section <i class="icon-forward"></i></a>
    </div>
</div>