<div id="qunit"></div>
<div id="qunit-fixture"></div>

@Html.ActionLink("Back to Tests", "Index", "UnitTest")

@section ScriptsUnderTest {

}

@section TestData {
    <script>
        var validTimes,
            invalidTimes;

        validTimes = [
            '0000',
            '0059',
            '2300',
            '2359',
            '1000',
            '1111',
            '1259',
            '1359'
        ];

        invalidTimes = [
            '2400',
            '00000',
            '0060',
            '0070',
            '2360'
        ];

        // TODO Latitude

        // TODO Longitude
    </script>
}

@section TestScript {
    @* Unit tests here *@
    <script>
        var time_re = /^(20|21|22|23|[01]\d)[0-5]\d$/;
        module("Time regular expression", {
            setup: function () {

            },
            teardown: function () {

            }
        });
        test("Valid times", function () {
            _.each(validTimes, function (time) {
                var msg = time + " is a valid time";
                ok(time_re.test(time), msg);
            });
        });
        test("Invalid times", function () {
            _.each(invalidTimes, function (time) {
                var msg = time + " is not a valid time";
                ok(!time_re.test(time), msg);
            });
        });
    </script>
}
