<div id="qunit"></div>
<div id="qunit-fixture"></div>

@Html.ActionLink("Back to Tests", "Index", "UnitTest")

@section ScriptsUnderTest {
    @* Scripts under test *@
    <script src="~/Scripts/App/vm.gen3.js"></script>
}

@section TestData {
    <script>
        var modelAsJson = {
            "BooleanValues": [
              null,
              "YES",
              "NO"
            ],
            "TripNumber": "DJB / 10-04",
            "TripId": 12345,
            "MonitorId": 0,
            "VersionNumber": 2009,
            "Incidents": [
              {
                  "Id": 135,
                  "QuestionCode": "RS-A",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 136,
                  "QuestionCode": "RS-B",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 137,
                  "QuestionCode": "RS-C",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 138,
                  "QuestionCode": "RS-D",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 139,
                  "QuestionCode": "NR-A",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 140,
                  "QuestionCode": "NR-B",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 141,
                  "QuestionCode": "NR-C",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 142,
                  "QuestionCode": "NR-D",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 143,
                  "QuestionCode": "NR-E",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 144,
                  "QuestionCode": "NR-F",
                  "Answer": "YES",
                  "JournalPage": 28,
                  "_destroy": false
              },
              {
                  "Id": 145,
                  "QuestionCode": "NR-G",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 146,
                  "QuestionCode": "WC-A",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 147,
                  "QuestionCode": "WC-B",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 148,
                  "QuestionCode": "WC-C",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 149,
                  "QuestionCode": "LP-A",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 150,
                  "QuestionCode": "LP-B",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 151,
                  "QuestionCode": "LC-A",
                  "Answer": "YES",
                  "JournalPage": 31,
                  "_destroy": false
              },
              {
                  "Id": 152,
                  "QuestionCode": "LC-B",
                  "Answer": "YES",
                  "JournalPage": 32,
                  "_destroy": false
              },
              {
                  "Id": 153,
                  "QuestionCode": "LC-C",
                  "Answer": "YES",
                  "JournalPage": 33,
                  "_destroy": false
              },
              {
                  "Id": 154,
                  "QuestionCode": "LC-D",
                  "Answer": "YES",
                  "JournalPage": 33,
                  "_destroy": false
              },
              {
                  "Id": 155,
                  "QuestionCode": "LC-E",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 156,
                  "QuestionCode": "LC-F",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 157,
                  "QuestionCode": "SI-A",
                  "Answer": "YES",
                  "JournalPage": 20,
                  "_destroy": false
              },
              {
                  "Id": 158,
                  "QuestionCode": "SI-B",
                  "Answer": "YES",
                  "JournalPage": 10,
                  "_destroy": false
              },
              {
                  "Id": 159,
                  "QuestionCode": "PN-A",
                  "Answer": "YES",
                  "JournalPage": 11,
                  "_destroy": false
              },
              {
                  "Id": 160,
                  "QuestionCode": "PN-B",
                  "Answer": "YES",
                  "JournalPage": 28,
                  "_destroy": false
              },
              {
                  "Id": 161,
                  "QuestionCode": "PN-C",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 162,
                  "QuestionCode": "PN-D",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 163,
                  "QuestionCode": "PN-E",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 164,
                  "QuestionCode": "SS-A",
                  "Answer": "NO",
                  "JournalPage": null,
                  "_destroy": false
              },
              {
                  "Id": 165,
                  "QuestionCode": "SS-B",
                  "Answer": "YES",
                  "JournalPage": 13,
                  "_destroy": false
              }
            ],
            "Notes": [
              {
                  "Id": 7,
                  "Date": "2012-04-09T00:00:00",
                  "Comments": "-PN-A -> VESSEL CREW DISPOSE OF LARGE AMOUNT OF WASTE NYLON AND TWINES TO SEA AFTER NET MENDING.",
                  "_destroy": false
              },
              {
                  "Id": 8,
                  "Date": "2012-04-12T00:00:00",
                  "Comments": "PN-PN -A-> VESSEL CREW DISPOSED EMPTY NOODLE PACKETS TO SEA. SEE JOURNAL PAGE # 14.",
                  "_destroy": false
              },
              {
                  "Id": 9,
                  "Date": "2012-04-15T00:00:00",
                  "Comments": "-PN -A -> VESSEL CREW DISPOSED EMPTY CAN OS FOAM SPRAY - JOURNAL PAGE # 17",
                  "_destroy": false
              },
              {
                  "Id": 10,
                  "Date": "2012-04-18T00:00:00",
                  "Comments": "SI-A -> JUVENILE WHALE SHARK ACCIDETLY CAUGHT AND LANDED - JOURNAL PG # 20",
                  "_destroy": false
              },
              {
                  "Id": 11,
                  "Date": "2012-04-23T00:00:00",
                  "Comments": "PN -A CREW DUMPED OLD  RUSTY FULL LENGTH PURSE CABLES TO SEA - SEE JOURNAL PG # 25",
                  "_destroy": false
              },
              {
                  "Id": 12,
                  "Date": "2012-04-26T00:00:00",
                  "Comments": "PN - B -> BUNKER VESSEL BREACHED MARPOL REGULATIONS DURING BUNKERING - JOURNAL PG# 28",
                  "_destroy": false
              },
              {
                  "Id": 13,
                  "Date": "2012-04-26T00:00:00",
                  "Comments": "NF-F -> VESSEL DIDI BUNKERING ACTIVITIES AT SEA TO ANGEL 106- JOURNAL PG # 28",
                  "_destroy": false
              },
              {
                  "Id": 14,
                  "Date": "2012-04-27T00:00:00",
                  "Comments": "LC -A -> VESSEL INACCURATELY RECORDED TARGETED SPECIES TONNAGE RETAINED FOR YFT & BET. LC-B - > VESSEL FAILED TO ACCURATELY RECORD TARGE SPECIES DISCARDS ON LOGSHEET. LC-C -> VESSEL FAILED TO CORRECTLY RECORD TARGET SPECIES RETAINED ON LOGSHEET SUCH AS BET. LC -D -> CESSEL FAILED TO RECORD A FE BYCATCH SPECIES OBSERVED IN SETS - JOURNAL PG # 31,33",
                  "_destroy": false
              },
              {
                  "Id": 15,
                  "Date": "2012-04-28T00:00:00",
                  "Comments": "SI-B -> OBSERVED SSI INTERACTIONS WITH THE VESSEL GEARS IN SET 2 AND 3, SEE TRIP JOURNNAL PG # 70 AND GEN PG # 1 AND 2.",
                  "_destroy": false
              }
            ]
        };
    </script>
}

@section TestScript {
    @* Unit tests here *@
    <script>
        var viewmodel;
        module("GEN-3", {
            setup: function () {
                viewmodel = new tubs.Gen3ViewModel(modelAsJson);
            },
            teardown: function () {
                viewmodel = null;
            }
        });
        test("Create viewmodel", function () {
            ok(viewmodel, "ViewModel not null");
            equal(viewmodel.TripNumber(), "DJB / 10-04", "TripNumber correct");
            equal(viewmodel.Incidents()[0].Answer(), "NO", "First answer correct");
        });
        test("Async commands", function () {
            ok(!viewmodel.saveCommand.canExecute(), "No save possible on clean model");
            ok(!viewmodel.reloadCommand.canExecute(), "No reload possible on clean model");
            viewmodel.Notes()[0].Comments("_xyzzy_");
            ok(viewmodel.saveCommand.canExecute(), "Save possible on dirty model");
            ok(viewmodel.reloadCommand.canExecute(), "Reload possible on dirty model");
        });
        test("Change incident property", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.Incidents()[0].JournalPage(1);
            ok(viewmodel.isDirty(), "viewmodel is dirty");
        });
        test("Change note property", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.Notes()[0].Comments("_xyzzy_");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
        });
        test("Add/remove new note", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            equal(viewmodel.Notes().length, 9, "9 notes attached to trip");
            viewmodel.addNote();            
            ok(viewmodel.isDirty(), "viewmodel is dirty");
            equal(viewmodel.Notes().length, 10, "10 notes attached to trip");
            var note = viewmodel.Notes().slice(-1)[0];
            viewmodel.removeNote(note);
            equal(viewmodel.Notes().length, 9, "9 notes attached to trip");
            ok(!viewmodel.isDirty(), "viewmodel is clean");
        });
        test("Remove existing note", function () {
            equal(viewmodel.Notes().length, 9, "9 notes attached to trip");
            var note = viewmodel.Notes()[0];
            viewmodel.removeNote(note);
            ok(viewmodel.isDirty(), "viewmodel now dirty");
            equal(viewmodel.Notes().length, 9, "9 notes attached to trip");
        });
    </script>
}

