<div id="qunit"></div>
<div id="qunit-fixture"></div>

@Html.ActionLink("Back to Tests", "Index", "UnitTest")

@section ScriptsUnderTest {
    @* Scripts under test *@
    <script src="~/Scripts/App/vm.gen3.js"></script>
}

@section TestData {
    <script>
        var modelAsJson = {};
    </script>
}

@section TestScript {
    @* Unit tests here *@
    <script>
        var viewmodel;
        module("GEN-3", {
            setup: function () {
                viewmodel = new tubs.gen3(modelAsJson);
            },
            teardown: function () {
                viewmodel = null;
            }
        });
        test("Create viewmodel", function () {
            ok(viewmodel, "ViewModel not null");
            equal(viewmodel.TripNumber(), "DJB / 10-04", "TripNumber correct");
        });
        test("Dirty flag", function () {
        });
        test("Async commands", function () {
        });
        test("Change note property", function () {
        });
        test("Add/remove new note", function () {
        });
        test("Remove existing note", function () {
        });
    </script>
}

