<div id="qunit"></div>
<div id="qunit-fixture"></div>

@Html.ActionLink("Back to Tests", "Index", "UnitTest")

@section ScriptsUnderTest {
    @* Scripts under test *@
    <script src="~/Scripts/App/vm.longlinesample.js"></script>
}

@section TestData {
    @* Inline data here *@
    <script>
        var modelAsJson = {
            "ConditionCodes": [
              "",
              "A0",
              "A1",
              "A2",
              "A3",
              "A4",
              "A5",
              "A6",
              "A7",
              "A8",
              "D",
              "D1",
              "D2",
              "D3",
              "D4",
              "U",
              "U1",
              "U2",
              "U3",
              "U4"
            ],
            "FateCodes": [
              "",
              "RGG",
              "RGT",
              "RWW",
              "RPT",
              "RFR",
              "RHG",
              "RSD",
              "RCC",
              "RGO",
              "ROR",
              "DFR",
              "DGD",
              "DSD",
              "DWD",
              "DUS",
              "DDL",
              "DSO",
              "DCF",
              "DTS",
              "DPQ",
              "DPA",
              "DPD",
              "DPU",
              "DOR",
              "ESC"
            ],
            "SexCodes": [
              "",
              "M",
              "F",
              "I",
              "U"
            ],
            "LengthCodes": [
              "",
              "TL",
              "UF",
              "LF",
              "PF",
              "TW",
              "CL",
              "NM"
            ],
            "WeightCodes": [
              "",
              "WW",
              "GG",
              "GH",
              "GT",
              "GX",
              "GO",
              "FW",
              "TW",
              "SF"
            ],
            "MeasuringInstruments": [
              "",
              "Board",
              "Aluminum Caliper",
              "Ruler",
              "Deck Tape",
              "Wooden Caliper"
            ],
            "SetId": 1043,
            "SetNumber": 1,
            "SetCount": 8,
            "SetDate": "2011-05-22T04:56:00",
            "TripId": 4314,
            "TripNumber": "DJB / 11-04",
            "HasNext": true,
            "HasPrevious": false,
            "VersionNumber": 2007,
            "ActionName": "Edit",
            "MeasuringInstrument": "Aluminum Caliper",
            "Details": [
  {
      "Id": 61580,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1321",
      "Date": "2011-05-22T13:21:00",
      "HookNumber": 26,
      "SpeciesCode": "BSH",
      "CaughtCondition": "U",
      "DiscardedCondition": "A1",
      "Length": null,
      "LengthCode": "NM",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "DUS",
      "SexCode": "U",
      "Comments": "Relach - Avanon coup"
  },
  {
      "Id": 61581,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1330",
      "Date": "2011-05-22T13:30:00",
      "HookNumber": 26,
      "SpeciesCode": "SKJ",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 74,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "Vid - Conso quipage"
  },
  {
      "Id": 61582,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1331",
      "Date": "2011-05-22T13:31:00",
      "HookNumber": 27,
      "SpeciesCode": "SKJ",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 80,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "Vid - Conso quipage"
  },
  {
      "Id": 61583,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1336",
      "Date": "2011-05-22T13:36:00",
      "HookNumber": 8,
      "SpeciesCode": "YFT",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 124,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61584,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1346",
      "Date": "2011-05-22T13:46:00",
      "HookNumber": 12,
      "SpeciesCode": "ALX",
      "CaughtCondition": "U",
      "DiscardedCondition": "A1",
      "Length": null,
      "LengthCode": "NM",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "DUS",
      "SexCode": "U",
      "Comments": "Espce non commerciale"
  },
  {
      "Id": 61585,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1350",
      "Date": "2011-05-22T13:50:00",
      "HookNumber": 29,
      "SpeciesCode": "BSH",
      "CaughtCondition": "U",
      "DiscardedCondition": "A1",
      "Length": null,
      "LengthCode": "NM",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "DUS",
      "SexCode": "U",
      "Comments": "Relach - Avanon coup"
  },
  {
      "Id": 61586,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1412",
      "Date": "2011-05-22T14:12:00",
      "HookNumber": 15,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 96,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61587,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1424",
      "Date": "2011-05-22T14:24:00",
      "HookNumber": 18,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 104,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61588,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1451",
      "Date": "2011-05-22T14:51:00",
      "HookNumber": 28,
      "SpeciesCode": "SSP",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 169,
      "LengthCode": "LF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61589,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1456",
      "Date": "2011-05-22T14:56:00",
      "HookNumber": 15,
      "SpeciesCode": "YFT",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 136,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61590,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1506",
      "Date": "2011-05-22T15:06:00",
      "HookNumber": 12,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 95,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61591,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1508",
      "Date": "2011-05-22T15:08:00",
      "HookNumber": 14,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 101,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61592,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1509",
      "Date": "2011-05-22T15:09:00",
      "HookNumber": 16,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 97,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61593,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1514",
      "Date": "2011-05-22T15:14:00",
      "HookNumber": 10,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 100,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61594,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1516",
      "Date": "2011-05-22T15:16:00",
      "HookNumber": 12,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 106,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61595,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1526",
      "Date": "2011-05-22T15:26:00",
      "HookNumber": 26,
      "SpeciesCode": "SKJ",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 76,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "Conso quipage"
  },
  {
      "Id": 61596,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1551",
      "Date": "2011-05-22T15:51:00",
      "HookNumber": 15,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 95,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61597,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1617",
      "Date": "2011-05-22T16:17:00",
      "HookNumber": 18,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 94,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61598,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1639",
      "Date": "2011-05-22T16:39:00",
      "HookNumber": 20,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 96,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61599,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1647",
      "Date": "2011-05-22T16:47:00",
      "HookNumber": 26,
      "SpeciesCode": "SKJ",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 75,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "Conso quipage"
  },
  {
      "Id": 61600,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1648",
      "Date": "2011-05-22T16:48:00",
      "HookNumber": 28,
      "SpeciesCode": "SKJ",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 73,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "Conso quipage"
  },
  {
      "Id": 61601,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1657",
      "Date": "2011-05-22T16:57:00",
      "HookNumber": 10,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 101,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61602,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1710",
      "Date": "2011-05-22T17:10:00",
      "HookNumber": 12,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 95,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61603,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1738",
      "Date": "2011-05-22T17:38:00",
      "HookNumber": 11,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 90,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61604,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1804",
      "Date": "2011-05-22T18:04:00",
      "HookNumber": 17,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 90,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61605,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1806",
      "Date": "2011-05-22T18:06:00",
      "HookNumber": 19,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 103,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61606,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1808",
      "Date": "2011-05-22T18:08:00",
      "HookNumber": 22,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 100,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61607,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1810",
      "Date": "2011-05-22T18:10:00",
      "HookNumber": 28,
      "SpeciesCode": "YFT",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 47,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "U",
      "Comments": "relach - hameon retir"
  },
  {
      "Id": 61608,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1812",
      "Date": "2011-05-22T18:12:00",
      "HookNumber": 30,
      "SpeciesCode": "SHK",
      "CaughtCondition": "U",
      "DiscardedCondition": "D",
      "Length": 148,
      "LengthCode": "TL",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "DUS",
      "SexCode": "U",
      "Comments": "relach - mort"
  },
  {
      "Id": 61609,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1814",
      "Date": "2011-05-22T18:14:00",
      "HookNumber": 7,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 105,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61610,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1820",
      "Date": "2011-05-22T18:20:00",
      "HookNumber": 12,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 105,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61611,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1824",
      "Date": "2011-05-22T18:24:00",
      "HookNumber": 19,
      "SpeciesCode": "YFT",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 141,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61612,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1828",
      "Date": "2011-05-22T18:28:00",
      "HookNumber": 26,
      "SpeciesCode": "MLS",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 138,
      "LengthCode": "LF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61613,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1831",
      "Date": "2011-05-22T18:31:00",
      "HookNumber": 29,
      "SpeciesCode": "YFT",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 138,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61614,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1840",
      "Date": "2011-05-22T18:40:00",
      "HookNumber": 6,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": null,
      "LengthCode": "NM",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "attaqu par marlin - filet equipage"
  },
  {
      "Id": 61615,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1858",
      "Date": "2011-05-22T18:58:00",
      "HookNumber": 30,
      "SpeciesCode": "BUM",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 224,
      "LengthCode": "LF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61616,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1904",
      "Date": "2011-05-22T19:04:00",
      "HookNumber": 12,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 91,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61617,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1905",
      "Date": "2011-05-22T19:05:00",
      "HookNumber": 13,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 94,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61618,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1907",
      "Date": "2011-05-22T19:07:00",
      "HookNumber": 15,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 93,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61619,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1916",
      "Date": "2011-05-22T19:16:00",
      "HookNumber": 10,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 91,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61620,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1918",
      "Date": "2011-05-22T19:18:00",
      "HookNumber": 12,
      "SpeciesCode": "SKJ",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 74,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RCC",
      "SexCode": "U",
      "Comments": "Conso quipage"
  },
  {
      "Id": 61621,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1926",
      "Date": "2011-05-22T19:26:00",
      "HookNumber": 14,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 89,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61622,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1927",
      "Date": "2011-05-22T19:27:00",
      "HookNumber": 15,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 85,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61623,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1929",
      "Date": "2011-05-22T19:29:00",
      "HookNumber": 17,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 91,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61624,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1933",
      "Date": "2011-05-22T19:33:00",
      "HookNumber": 25,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 103,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61625,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1953",
      "Date": "2011-05-22T19:53:00",
      "HookNumber": 21,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 102,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61626,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1955",
      "Date": "2011-05-22T19:55:00",
      "HookNumber": 23,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 96,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61627,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "1959",
      "Date": "2011-05-22T19:59:00",
      "HookNumber": 8,
      "SpeciesCode": "PLS",
      "CaughtCondition": "U",
      "DiscardedCondition": "A1",
      "Length": 50,
      "LengthCode": "TW",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "DUS",
      "SexCode": "U",
      "Comments": "rejet- hameon dcroch"
  },
  {
      "Id": 61628,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "2003",
      "Date": "2011-05-22T20:03:00",
      "HookNumber": 12,
      "SpeciesCode": "YFT",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 133,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "F",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61629,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "2012",
      "Date": "2011-05-22T20:12:00",
      "HookNumber": 16,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 100,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61630,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "2018",
      "Date": "2011-05-22T20:18:00",
      "HookNumber": 20,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 95,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61631,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "2019",
      "Date": "2011-05-22T20:19:00",
      "HookNumber": 21,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A1",
      "DiscardedCondition": "U",
      "Length": 93,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61632,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "2041",
      "Date": "2011-05-22T20:41:00",
      "HookNumber": 17,
      "SpeciesCode": "ALB",
      "CaughtCondition": "A3",
      "DiscardedCondition": "U",
      "Length": 102,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "I",
      "Comments": "Vid - Sous glace"
  },
  {
      "Id": 61633,
      "SampleNumber": 1,
      "DateOnly": "2011-05-22T00:00:00",
      "TimeOnly": "2051",
      "Date": "2011-05-22T20:51:00",
      "HookNumber": 19,
      "SpeciesCode": "ALB",
      "CaughtCondition": "D",
      "DiscardedCondition": "U",
      "Length": 94,
      "LengthCode": "UF",
      "Weight": null,
      "WeightCode": null,
      "FateCode": "RGG",
      "SexCode": "M",
      "Comments": "Vid - Sous glace"
  }
            ]
        };
    </script>
}

@section TestScript {
    @* Unit tests here *@
    <script>
        /// <reference path="../qunit-1.11.0.js" />
        /// 
        'use strict';
        var viewmodel;

        module("LL-4 Catch Monitoring", {
            setup: function () {
                viewmodel = new tubs.LongLineSample(modelAsJson);
            },
            teardown: function () {
                viewmodel = null;
            }
        });
        test("Create viewmodel", function () {
            ok(viewmodel, "viewmodel not null");
            equal(viewmodel.TripNumber(), "DJB / 11-04", "TripNumber correct");
            equal(viewmodel.Details().length, 54, "Correct number of details");
        });
        // TODO: Consider checking mapping on all props of first child
        test("Dirty flag", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.MeasuringInstrument("Wooden Caliper");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
        });
        test("Clear dirty flag", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.MeasuringInstrument("Wooden Caliper");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
            viewmodel.clearDirtyFlag();
            ok(!viewmodel.isDirty(), "viewmodel is clean");
        });
        test("Async commands", function () {
            ok(!viewmodel.reloadCommand.canExecute(), "reload blocked on clean viewmodel");
            ok(!viewmodel.saveCommand.canExecute(), "save blocked on clean viewmodel");
            viewmodel.MeasuringInstrument("Wooden Caliper");
            ok(viewmodel.reloadCommand.canExecute(), "reload allowed on clean viewmodel");
            ok(viewmodel.saveCommand.canExecute(), "save allowed on clean viewmodel");
        });
        test("Change detail property", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            var detail = viewmodel.Details()[0];
            equal(detail.SpeciesCode(), "BSH", "detail mapped correctly");
            detail.SpeciesCode("FAL");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
        });
        test("Add/remove new detail", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.addDetail();
            ok(viewmodel.isDirty(), "viewmodel is dirty after adding detail");
            equal(viewmodel.Details().length, 55, "Correct number of details");
            var detail = viewmodel.Details().slice(-1)[0];
            ok(detail, "New detail not null");
            equal(detail.Id(), 0, "New detail has no primary key");
            ok(detail.DateOnly(), "New detail has non-null DateOnly property");
            viewmodel.removeDetail(detail);
            equal(viewmodel.Details().length, 54, "Correct number of details");
        });
        test("Remove existing detail", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            equal(viewmodel.Details().length, 54, "Correct number of details");
            var detail = viewmodel.Details()[0];
            viewmodel.removeDetail(detail);
            ok(viewmodel.isDirty(), "viewmodel is dirty after removing detail");
            ok(detail._destroy, "Detail marked as destroy");
            equal(viewmodel.Details().length, 54, "Correct number of details");
        });
    </script>
}
