<div id="qunit"></div>
<div id="qunit-fixture"></div>

@Html.ActionLink("Back to Tests", "Index", "UnitTest")

@section ScriptsUnderTest {
    @* Scripts under test *@
    <script src="~/Scripts/App/vm.seaday.js"></script>
}

@section TestData {
    <script>
        var modelAsJson = {
            "TripNumber": "DJB / 10-01",
            "HasNext": true,
            "PreviousDay": 4,
            "HasPrevious": true,
            "NextDay": 6,
            "VersionNumber": 2007,
            "ActionName": "Edit",
            "ActivityCodes": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10D",
              "10R",
              "11",
              "12",
              "13",
              "14",
              "15R",
              "15D",
              "16",
              "H1",
              "H2"
            ],
            "DetectionCodes": [
              null,
              1,
              2,
              3,
              4,
              5,
              6,
              7
            ],
            "AssociationCodes": [
              null,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9
            ],
            "SeaCodes": [
              "",
              "C",
              "S",
              "M",
              "R",
              "V"
            ],
            "TripId": 70,
            "DayId": 432,
            "DayNumber": 5,
            "MaxDays": 20,
            "ShipsDate": "2010-08-14T00:00:00",
            "ShipsTime": "0610",
            "UtcDate": "2010-08-13T00:00:00",
            "UtcTime": "1810",
            "AnchoredWithNoSchool": 0,
            "AnchoredWithSchool": 0,
            "FreeFloatingWithNoSchool": 0,
            "FreeFloatingWithSchool": 0,
            "FreeSchool": 2,
            "HasGen3Event": "NO",
            "DiaryPage": null,
            "Events": [
              {
                  "EventId": 3740,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "0610",
                  "Latitude": "0101.816S",
                  "Longitude": "16802.017E",
                  "EezCode": "NR",
                  "ActivityCode": "2",
                  "WindSpeed": 8,
                  "WindDirection": 120,
                  "SeaCode": "S",
                  "DetectionCode": null,
                  "AssociationCode": null,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": null,
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3741,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "0650",
                  "Latitude": "0102.016S",
                  "Longitude": "16809.765E",
                  "EezCode": "NR",
                  "ActivityCode": "H1",
                  "WindSpeed": 10,
                  "WindDirection": 121,
                  "SeaCode": "S",
                  "DetectionCode": null,
                  "AssociationCode": null,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": "Go to search",
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3742,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "0808",
                  "Latitude": "0107.525S",
                  "Longitude": "16821.232E",
                  "EezCode": "KI",
                  "ActivityCode": "H2",
                  "WindSpeed": 12,
                  "WindDirection": 87,
                  "SeaCode": "M",
                  "DetectionCode": null,
                  "AssociationCode": null,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": "back from search",
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3743,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "0821",
                  "Latitude": "0107.365S",
                  "Longitude": "16823.501E",
                  "EezCode": "KI",
                  "ActivityCode": "2",
                  "WindSpeed": 13,
                  "WindDirection": 85,
                  "SeaCode": "M",
                  "DetectionCode": 1,
                  "AssociationCode": 2,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": null,
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3744,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "1042",
                  "Latitude": "0102.385S",
                  "Longitude": "16843.959E",
                  "EezCode": "KI",
                  "ActivityCode": "1",
                  "WindSpeed": 13,
                  "WindDirection": 158,
                  "SeaCode": "M",
                  "DetectionCode": 1,
                  "AssociationCode": 2,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": "Set #3",
                  "IsLocked": true,
                  "HasSet": true,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3745,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "1339",
                  "Latitude": "0103.930S",
                  "Longitude": "16846.314E",
                  "EezCode": "KI",
                  "ActivityCode": "H1",
                  "WindSpeed": 8,
                  "WindDirection": 136,
                  "SeaCode": "S",
                  "DetectionCode": null,
                  "AssociationCode": null,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": "Go to search",
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3746,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "1348",
                  "Latitude": "0103.779S",
                  "Longitude": "16845.914E",
                  "EezCode": "KI",
                  "ActivityCode": "2",
                  "WindSpeed": 7,
                  "WindDirection": 199,
                  "SeaCode": "S",
                  "DetectionCode": null,
                  "AssociationCode": null,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": null,
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3747,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "1513",
                  "Latitude": "0121.677S",
                  "Longitude": "16849.678E",
                  "EezCode": "KI",
                  "ActivityCode": "8",
                  "WindSpeed": 7,
                  "WindDirection": 27,
                  "SeaCode": "S",
                  "DetectionCode": 1,
                  "AssociationCode": 2,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": null,
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3748,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "1517",
                  "Latitude": "0121.537S",
                  "Longitude": "16849.686E",
                  "EezCode": "KI",
                  "ActivityCode": "1",
                  "WindSpeed": 8,
                  "WindDirection": 27,
                  "SeaCode": "S",
                  "DetectionCode": 1,
                  "AssociationCode": 2,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": "Set #4 /NET CLOSES H2 LANDED",
                  "IsLocked": true,
                  "HasSet": true,
                  "HasGen5": false,
                  "NeedsFocus": false
              },
              {
                  "EventId": 3749,
                  "Gen5Id": 0,
                  "_destroy": false,
                  "Time": "2230",
                  "Latitude": "0125.831S",
                  "Longitude": "16830.931E",
                  "EezCode": "KI",
                  "ActivityCode": "2",
                  "WindSpeed": 15,
                  "WindDirection": 254,
                  "SeaCode": "M",
                  "DetectionCode": null,
                  "AssociationCode": null,
                  "FadNumber": null,
                  "BuoyNumber": null,
                  "Comments": "Day's end.",
                  "IsLocked": false,
                  "HasSet": false,
                  "HasGen5": false,
                  "NeedsFocus": false
              }
            ]
        };
    </script>
}

@section TestScript {
    @* Unit tests here *@
    <script>
        var viewmodel;
        module("PS-2 (SeaDay)", {
            setup: function () {
                viewmodel = new tubs.psSeaDay(modelAsJson);
            },
            teardown: function () {
                viewmodel = null;
            }
        });
        test("Create viewmodel", function () {
            ok(viewmodel, "ViewModel not null");
            equal(viewmodel.TripNumber(), "DJB / 10-01", "TripNumber correct");
        });
        test("Async commands", function () {
            ok(!viewmodel.saveCommand.canExecute(), "No save possible on clean model");
            ok(!viewmodel.reloadCommand.canExecute(), "No reload possible on clean model");
            viewmodel.FreeSchool(99);
            ok(viewmodel.saveCommand.canExecute(), "Save possible on dirty model");
            ok(viewmodel.reloadCommand.canExecute(), "Reload possible on dirty model");
        });
        test("Change day property", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.ShipsTime("0001");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
        });
        test("Ship's Date (ISODate extension)", function () {
            equal(viewmodel.ShipsDate.formattedDate(), "14/08/10", "Date has ISODate extension");
            viewmodel.ShipsDate("2010-09-14T00:00:00");
            equal(viewmodel.ShipsDate.formattedDate(), "14/09/10", "Formatted date reflects update");
        });
        test("UTC Date (ISODate extension)", function () {
            equal(viewmodel.UtcDate.formattedDate(), "13/08/10", "Date has ISODate extension");
            viewmodel.UtcDate("2010-09-13T00:00:00");
            equal(viewmodel.UtcDate.formattedDate(), "13/09/10", "Formatted date reflects update");
        });
        test("Change activity property", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            viewmodel.Events()[0].Time("0559");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
        });
        test("Add/remove new activity", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            equal(viewmodel.Events().length, 10, "10 events in this sea day");
            viewmodel.addEvent();
            equal(viewmodel.Events().length, 11, "11 events in this sea day");
            ok(viewmodel.isDirty(), "viewmodel is dirty");
            var evt = viewmodel.Events().slice(-1)[0];
            ok(evt.NeedsFocus(), "New event has focus set");
            viewmodel.removeEvent(evt);
            equal(viewmodel.Events().length, 10, "10 events in this sea day");
            ok(!viewmodel.isDirty(), "viewmodel is clean");
        });
        test("Remove existing activity", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            equal(viewmodel.Events().length, 10, "10 events in this sea day");
            var evt = viewmodel.Events()[3];
            viewmodel.removeEvent(evt);
            ok(evt._destroy, "Event marked for deletion");
            equal(viewmodel.Events().length, 10, "10 events in this sea day");
        });
    </script>
}
