<div id="qunit"></div>
<div id="qunit-fixture"></div>

@Html.ActionLink("Back to Tests", "Index", "UnitTest")

@section ScriptsUnderTest {
    @* Scripts under test *@
    <script src="~/Scripts/App/vm.sighting.js"></script>
}

@section TestData {
    <script>
        var modelAsJson = {
            "TypeCodes": [
              null,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              21,
              22,
              31
            ],
            "ActionCodes": [
              "",
              "FI",
              "PF",
              "NF",
              "DF",
              "TR",
              "SR",
              "BR",
              "OR",
              "TG",
              "SG",
              "BG",
              "OG"
            ],
            "TripNumber": "DJB / 10-04",
            "VersionNumber": 2007,
            "TripId": 70,
            "Sightings": [
              {
                  "Id": 1,
                  "DateOnly": "2010-08-15T00:00:00",
                  "TimeOnly": "1154",
                  "Latitude": "0116.333S",
                  "Longitude": "16743.138E",
                  "VesselId": null,
                  "Name": "ZZZ YYY",
                  "Ircs": null,
                  "CountryCode": "PG",
                  "TypeCode": 1,
                  "Bearing": 230,
                  "Distance": 1.000,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SETTING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 2,
                  "DateOnly": "2010-08-15T00:00:00",
                  "TimeOnly": "1158",
                  "Latitude": "0116.023S",
                  "Longitude": "16742.262E",
                  "VesselId": null,
                  "Name": "TZZZ",
                  "Ircs": null,
                  "CountryCode": "TV",
                  "TypeCode": 1,
                  "Bearing": 241,
                  "Distance": 1.000,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SEARCHING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 3,
                  "DateOnly": "2010-08-15T00:00:00",
                  "TimeOnly": "1200",
                  "Latitude": "0115.885S",
                  "Longitude": "16741.859E",
                  "VesselId": null,
                  "Name": "TUNA ZZZ",
                  "Ircs": null,
                  "CountryCode": "US",
                  "TypeCode": 1,
                  "Bearing": 235,
                  "Distance": 1.000,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "HAULING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 4,
                  "DateOnly": "2010-08-15T00:00:00",
                  "TimeOnly": "1201",
                  "Latitude": "0115.729S",
                  "Longitude": "16741.393E",
                  "VesselId": null,
                  "Name": "OCEAN ZZZ",
                  "Ircs": null,
                  "CountryCode": "US",
                  "TypeCode": 1,
                  "Bearing": 210,
                  "Distance": 1.000,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SEARCHING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 5,
                  "DateOnly": "2010-08-19T00:00:00",
                  "TimeOnly": "0939",
                  "Latitude": "0255.410S",
                  "Longitude": "16115.316E",
                  "VesselId": null,
                  "Name": "XXXX YYY 866",
                  "Ircs": null,
                  "CountryCode": "TW",
                  "TypeCode": 1,
                  "Bearing": 198,
                  "Distance": 2.000,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SEARCHING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 6,
                  "DateOnly": "2010-08-21T00:00:00",
                  "TimeOnly": "0853",
                  "Latitude": "0348.690S",
                  "Longitude": "15957.053E",
                  "VesselId": null,
                  "Name": "XXXX YYY 696",
                  "Ircs": null,
                  "CountryCode": "VU",
                  "TypeCode": 1,
                  "Bearing": 150,
                  "Distance": 0.500,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SETTING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 7,
                  "DateOnly": "2010-08-21T00:00:00",
                  "TimeOnly": "1012",
                  "Latitude": "0350.733S",
                  "Longitude": "15949.161E",
                  "VesselId": null,
                  "Name": "USS ENTERPRISE",
                  "Ircs": null,
                  "CountryCode": "US",
                  "TypeCode": 1,
                  "Bearing": 270,
                  "Distance": 0.500,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SETTING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 8,
                  "DateOnly": "2010-08-24T00:00:00",
                  "TimeOnly": "1743",
                  "Latitude": "0351.577S",
                  "Longitude": "15917.887E",
                  "VesselId": null,
                  "Name": "USS RELIANT",
                  "Ircs": null,
                  "CountryCode": "US",
                  "TypeCode": 1,
                  "Bearing": 311,
                  "Distance": 0.500,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SETTING",
                  "_destroy": false,
                  "NeedsFocus": false
              },
              {
                  "Id": 9,
                  "DateOnly": "2010-08-24T00:00:00",
                  "TimeOnly": "1745",
                  "Latitude": "0351.540S",
                  "Longitude": "15917.693E",
                  "VesselId": null,
                  "Name": "XXXX YYY 696",
                  "Ircs": null,
                  "CountryCode": "VU",
                  "TypeCode": 1,
                  "Bearing": 260,
                  "Distance": null,
                  "ActionCode": "FI",
                  "PhotoFrame": null,
                  "Comments": "SETTING",
                  "_destroy": false,
                  "NeedsFocus": false
              }
            ]
        };
    </script>
}

@section TestScript {
    @* Unit tests here *@
    <script>
        var viewmodel;
        module("GEN-1 (Sighting)", {
            setup: function () {
                viewmodel = new tubs.SightingViewModel(modelAsJson);
            },
            teardown: function () {
                viewmodel = null;
            }
        });
        test("Create viewmodel", function () {
            ok(viewmodel, "ViewModel not null");
            equal(viewmodel.TripNumber(), "DJB / 10-04", "TripNumber correct");
        });
        test("Async commands", function () {
            ok(!viewmodel.saveCommand.canExecute(), "No save possible on clean model");
            ok(!viewmodel.reloadCommand.canExecute(), "No reload possible on clean model");
            viewmodel.Sightings()[0].Comments("_xyzzy_");
            ok(viewmodel.saveCommand.canExecute(), "Save possible on dirty model");
            ok(viewmodel.reloadCommand.canExecute(), "Reload possible on dirty model");
        });
        test("Add/remove new sighting", function () {
            ok(!viewmodel.isDirty(), "viewmodel is clean");
            equal(viewmodel.Sightings().length, 9, "9 sightings attached to trip");
            viewmodel.addEvent();
            ok(viewmodel.isDirty(), "viewmodel is dirty");
            equal(viewmodel.Sightings().length, 10, "10 sightings attached to trip");
            var evt = viewmodel.Sightings().slice(-1)[0];
            ok(evt.NeedsFocus(), "New sighting has focus set");
            viewmodel.removeEvent(evt);
            equal(viewmodel.Sightings().length, 9, "9 sightings attached to trip");
            ok(!viewmodel.isDirty(), "viewmodel is clean");
        });
        test("Remove existing sighting", function () {
            equal(viewmodel.Sightings().length, 9, "9 sightings attached to trip");
            var sgt = viewmodel.Sightings()[0];
            viewmodel.removeEvent(sgt);
            ok(viewmodel.isDirty(), "viewmodel now dirty");
            equal(viewmodel.Sightings().length, 9, "9 sightings attached to trip");
        });
    </script>
}

