<table id="otherDeviceTable" class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Device Type</th>
            <th>Description</th>
            <th>Installed</th>
            <th>Usage</th>
            <th>Make</th>
            <th>Model</th>
            <th>Comments</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.OtherDevices">
        <tr>
            <td><select class="input-large" data-bind="hasfocus: NeedsFocus, options: $root.DeviceTypes, value: DeviceType"></select></td>
            <td><input type="text" class="input-medium" data-bind="value: Description, uniqueName: true, enable: ('Other' == DeviceType())" /></td>
            <td><select class="input-small" data-bind="options: $root.BooleanValues, value: IsInstalled"></select></td>
            <td><select class="input-small" data-bind="options: $root.UsageCodes, value: Usage"></select></td>
            <td><input type="text" class="input-medium" data-bind="value: Make, uniqueName: true" /></td>
            <td><input type="text" class="input-medium" data-bind="value: Model, uniqueName: true" /></td>
            <td><input type="text" class="input-large" data-bind="value: Comments, uniqueName: true" /></td>
            <td>
                <button type="button" class="btn btn-danger removeItem nobr" tabindex="5000"><i class="icon-minus-sign icon-white"></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<button id="addNewDevice" type="button" class="btn btn-info addItem"><i class="icon-plus-sign icon-white"></i> Add Device</button>
<hr />
<a href="#" class="btn btn-info nextTabButton">Next Section <i class="icon-forward"></i></a>