@model TubsWeb.ViewModels.ElectronicsViewModel

@{
    ViewBag.Title = String.Format("{0}: Electronics", Model.TripNumber);
}
@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl("TripList"), "Trips"),
        Tuple.Create(Url.Action("Details", "Trip", new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create("#", "Electronics")
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (!ViewBag.IsReadOnly)
{
<p>
    @Html.ActionLink("Edit Electronics", "Edit", null, new { @class = "btn btn-primary" })
</p>
}

<div class="tabbable tabs-top">
    <ul id="formSections" class="nav nav-tabs">
        <li class="active"><a href="#categories" data-toggle="tab">Common Equipment</a></li>
        <li><a href="#buoys" data-toggle="tab">Buoys</a></li>
        <li><a href="#vms" data-toggle="tab">VMS</a></li>
        <li><a href="#other" data-toggle="tab">Other Devices</a></li>
        <li><a href="#comms" data-toggle="tab">Communication Services</a></li>
        <li><a href="#info" data-toggle="tab">Information Services</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="categories">
            @{ Html.RenderPartial("_CategoryViewer", Model); }
        </div>
        <div class="tab-pane" id="buoys">
            @{ Html.RenderPartial("_BuoyViewer", Model.Buoys); }
        </div>
        <div class="tab-pane" id="vms">
            @{ Html.RenderPartial("_VmsViewer", Model.Vms); }
        </div>
        <div class="tab-pane" id="other">
            @{ Html.RenderPartial("_OtherDeviceViewer", Model.OtherDevices); }
        </div>
        <div class="tab-pane" id="comms">
            @{ Html.RenderPartial("_CommServiceViewer", Model.Communications); }
        </div>
        <div class="tab-pane" id="info">
            @{ Html.RenderPartial("_InfoServiceViewer", Model.Info); }
        </div>
    </div>
</div>