@model TubsWeb.Models.ElectronicsViewModel

<h2>@ViewBag.Title</h2>

@{Html.RenderPartial("_Electronics");}

<p>
    <a href='@Url.RouteUrl("TripDetails", new { tripId = Model.TripId })'>Back to Trip</a>
</p>
