<div id="mapX" style="width: 700px; height: 500px;"></div>

@* 
 * TODO:  In addition to displaying the map, 
 * this partial should have placeholders for content that
 * comes from the KML.  What we'd like is for a click event
 * on a placemark to display details of the placemark.
 *
 * The other option is to have a "Previous"/"Next" link that
 * highlights one placemark at a time.
 *@