@model Spc.Ofp.Tubs.DAL.Entities.Trip
@using Spc.Ofp.Tubs.DAL.Entities

<h2>@ViewBag.Title</h2>

@* For now, create this in the View. *@
@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.Action("Index", "Trip"), "Trips"),
        Tuple.Create("#", Model.SpcTripNumber)
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@* Nav at the top *@
@{
    IEnumerable<Tuple<string, string>> navpills = ViewBag.NavPills;
    if (null != navpills)
    {
        Html.RenderPartial("_TripNavBar", navpills);   
    }
}

@{Html.RenderPartial("_TripSummary");}

<p>
    @Html.ActionLink("Edit", "Edit", new { tripId = Model.Id })
</p>
