@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.Trip>
@using System.Web.Configuration
           
@{
    ViewBag.Title = "List of Trips";
}

@{
    var baseMapUrl = WebConfigurationManager.AppSettings["BasePositionServiceUrl"].ToString();
    var baseReportUrl = WebConfigurationManager.AppSettings["BaseReportingServiceUrl"].ToString();
}

<h2>@ViewBag.Title</h2>

@* TODO Add search capability *@
@* TODO Fix return and departure dates *@
@* TODO Change this over to creating a table by hand *@

@{ var grid = new WebGrid(source: Model, defaultSort: "Id", rowsPerPage: 20); }

<div id="tripgrid">
    @grid.GetHtml(
    alternatingRowStyle: "alt",
    columns: grid.Columns(
        grid.Column(
            format: (item) => new HtmlString(
                Html.ActionLink("Edit", "Edit", new { id = item.Id }) + " | " +
                Html.ActionLink("Details", "Details", new { id = item.Id }))
        ),
        grid.Column("Id", "Trip Id"),
        grid.Column("ProgramCode", "Program"),
        grid.Column("TripNumber", "Trip Number"),
        grid.Column("Observer", "Observer"),
        grid.Column("Vessel", "Vessel"),
        grid.Column("DeparturePort", "Port of Departure"),
        grid.Column("DepartureDate", "Departure Date"),
        grid.Column("ReturnPort", "Port of Return"),
        grid.Column("ReturnDate", "Return Date"),
        grid.Column(
            header: "Trip Map",
                    format: (item) => new HtmlString(String.Format("<a href='{0}{1}' target='_blank'>Positions</a>", baseMapUrl, item.Id))
        ),
        grid.Column(
            header: "Report",
                    format: (item) => new HtmlString(String.Format("<a href='{0}{1}' target='_blank'>Report</a>", baseReportUrl, item.Id))
        )
    ))
</div>

@{ if (ViewBag.HasPrevious)
   {
       @Html.ActionLink("<<", "Index", new { page = (ViewBag.CurrentPage - 1) })    
   }   
}

@{ if (ViewBag.HasNext)
   {
       @Html.ActionLink(">>", "Index", new { page = (ViewBag.CurrentPage + 1) })    
   }    
}