@model IEnumerable<Spc.Ofp.Tubs.DAL.Entities.Trip>
@using System.Web.Configuration
           
@{
    ViewBag.Title = "List of Trips";
}

@{
    var baseMapUrl = WebConfigurationManager.AppSettings["BasePositionServiceUrl"].ToString();
    var baseReportUrl = WebConfigurationManager.AppSettings["BaseReportingServiceUrl"].ToString();
}

<h2>@ViewBag.Title</h2>

@* TODO Add search capability *@
@* TODO Fix return and departure dates *@

@{ 
    //var grid = new WebGrid(source: Model, canSort:false, rowsPerPage: 15);

    var grid = new WebGrid(rowsPerPage: 15, canSort: false);
    grid.Bind(Model, rowCount: ViewBag.TotalRows);
}

@*
   Html.Raw(String.Format("<a href='{0}{1}' target='_blank'>Report</a>", baseReportUrl, item.Id))

   grid.Column(
            header: "Trip Map",
                    format: (item) => new HtmlString(String.Format("<a href='{0}{1}' target='_blank'>Positions</a>", baseMapUrl, item.Id))
        ),
*@

<div id="tripgrid">
    @grid.GetHtml(
    tableStyle:"table table-striped table-bordered table-condensed",
    columns: grid.Columns(
        grid.Column(
            format: (item) => 
                new HtmlString(
                Html.ActionLink("Edit", "Edit", new { tripId = item.Id }) + " | " +
                Html.ActionLink("Details", "Details", new { tripId = item.Id }))
        ),
        grid.Column("Id", "Trip Id"),
        grid.Column("ProgramCode", "Program"),
        grid.Column("TripNumber", "Trip Number"), @* Reformat this to ABC / 10-01 ? *@
        grid.Column("Observer", "Observer"),
        grid.Column("Vessel", "Vessel"),
        grid.Column("DeparturePort", "Port of Departure"),
        grid.Column("DepartureDate", "Departure Date"),
        grid.Column("ReturnPort", "Port of Return"),
        grid.Column("ReturnDate", "Return Date")
    ))
</div>

@{ if (ViewBag.HasPrevious)
   {
       @Html.ActionLink("<<", "Index", new { page = (ViewBag.CurrentPage - 1) })    
   }   
}

@{ if (ViewBag.HasNext)
   {
       @Html.ActionLink(">>", "Index", new { page = (ViewBag.CurrentPage + 1) })    
   }    
}