
<form class="well form-inline">
    <label for="observer">Staff Code:</label>
    <input type="text" class="input-small" placeholder="Observer" id="observer" name="observer" />
    <label for="vessel">Vessel:</label>
    <input type="text" placeholder="Vessel" id="vessel" name="vessel" />
    @Html.Label("program", "Program Code:")
    @Html.DropDownList("program", new SelectList(Enum.GetValues(typeof(Spc.Ofp.Tubs.DAL.Common.ObserverProgram))), "Choose")
    <button type="submit" class="btn">Search</button>
</form>