@model TubsWeb.ViewModels.LengthFrequencyViewModel

@{
    string titleSuffix = String.Format("Page {0} of {1}", Model.SamplePageNumber, Model.SamplePageTotal);
    ViewBag.Title = String.Format("{0}: PS-4 {1}", Model.TripNumber, titleSuffix);
}

@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl(TubsWeb.RouteConfig.TripList), "Trips"),
        Tuple.Create(Url.RouteUrl(TubsWeb.RouteConfig.TripDetails, new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create(Url.RouteUrl(TubsWeb.RouteConfig.Ps4List, new { tripId = Model.TripId }), "All PS-4s"),
        Tuple.Create("#", titleSuffix)
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@*
 * TODO: Add edit button as appropriate
 *@

<div class="tabbable tabs-top">
    <ul id="formSections" class="nav nav-tabs">
        <li class="active"><a href="#brails" data-toggle="tab">Brails</a></li>
        <li><a href="#sampleType" data-toggle="tab">Protocol</a></li>        
        <li><a href="#comments" data-toggle="tab">Comments</a></li>
        <li><a href="#samples" data-toggle="tab">Samples</a></li>
    </ul>
    <div class="tab-content">        
        <div class="tab-pane active" id="brails">
            @{ Html.RenderPartial("_Brails", Model); }
        </div>
        <div class="tab-pane" id="sampleType">
            <p>Sample Type</p>   
        </div>
        <div class="tab-pane" id="comments">
            <p>@Model.ProtocolComments</p>
        </div>
        <div class="tab-pane" id="samples">
            @{ Html.RenderPartial("_Samples", Model); }
        </div>
    </div>
</div>