@model TubsWeb.ViewModels.LengthFrequencyViewModel

@{
    string titleSuffix = String.Format("Set {0}, Page {1} of {2}", Model.SetNumber, Model.PageNumber, Model.PageCount);
    ViewBag.Title = String.Format("{0}: PS-4 {1}", Model.TripNumber, titleSuffix);
}

@{
    IEnumerable<Tuple<string, string>> crumbs = new List<Tuple<string, string>>()
    {
        Tuple.Create(Url.RouteUrl(TubsWeb.RouteConfig.TripList), "Trips"),
        Tuple.Create(Url.RouteUrl(TubsWeb.RouteConfig.TripDetails, new { tripId = Model.TripId }), Model.TripNumber),
        Tuple.Create(Url.RouteUrl(TubsWeb.RouteConfig.Ps4List, new { tripId = Model.TripId }), "All PS-4s"),
        Tuple.Create("#", titleSuffix)
    };
}

@{ Html.RenderPartial("_BreadCrumbs", crumbs); }

@if (Model.PageCount.HasValue && Model.PageCount.Value > 1)
{
<div class="pagination">
    <ul>
    @foreach (var pageNumber in Enumerable.Range(1, Model.PageCount.Value).Select(x => x))
    {
        var link = Url.RouteUrl(TubsWeb.RouteConfig.Ps4BySetAndPage, new { tripId = Model.TripId, setNumber = Model.SetNumber, pageNumber = pageNumber, action = "Index" });
        var itemClass = (Model.PageNumber.HasValue && Model.PageNumber.Value == pageNumber) ? "active" : String.Empty;
        <li class="@itemClass"><a href="@link">Page @pageNumber</a></li>
    }
    </ul>
</div>
}

@if (!ViewBag.IsReadOnly)
{ 
<p>
    @{ var editLink = Url.RouteUrl(TubsWeb.RouteConfig.Ps4BySetAndPage, new { tripId = Model.TripId, setNumber = Model.SetNumber, pageNumber = Model.PageNumber, action = "Edit" }); }
    <a href="@editLink" class="btn btn-primary"><i class="icon-edit icon-white"></i>&nbsp;Edit Page</a>
</p>
}

<div class="tabbable tabs-top">
    <ul id="formSections" class="nav nav-tabs">
        <li class="active"><a href="#details" data-toggle="tab">Sampling Details</a></li>
        <li><a href="#brails" data-toggle="tab">Brails</a></li>
        <li><a href="#samples" data-toggle="tab">Samples</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="details">
            @{ Html.RenderPartial("_Protocol", Model); }
        </div>
        <div class="tab-pane" id="brails">
            @{ Html.RenderPartial("_Brails", Model); }
        </div>    
        <div class="tab-pane" id="samples">
            @{ Html.RenderPartial("_Samples", Model); }
        </div>
    </div>
</div>